backend/**/venv/
backend/**/.venv/
backend/**/venv*
backend/**/.venv*

backend/**/env*
backend/**/env/
backend/**/.env*
backend/**/.env/

backend/**/.vscode
backend/**/.vscode*
backend/**/vscode
backend/**/vscode*

.idea 

