backend/**/venv/
backend/**/.venv/
backend/**/venv*
backend/**/.venv*

backend/**/env*
backend/**/env/
backend/**/.env*
backend/**/.env/

backend/**/.vscode
backend/**/.vscode*
backend/**/vscode
backend/**/vscode*

backend/**/__pycache__
backend/**/.__pycache__
backend/**/__pycache__*
backend/**/.__pycache__*

.idea 
/backend/**/.git
/backend/**/.git*
